<h1>Shopping Cart</h1>
<ng-container *ngIf="cart$ | async as cart">
  <h6>
    You have <b>{{ cart.totalItemsCount }}</b> items in your shopping cart.
  </h6>
  <table class="table">
    <thead>
      <tr>
        <th>Product</th>
        <th>Quantity</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of cart.items">
        <td>
          {{ item.product.title }}
        </td>
        <td>
          {{ item.quantity }}
        </td>
        <td>
          {{ item.totalPrice | currency: 'INR' }}
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th></th>
        <th><b>Total Price:</b></th>
        <th>{{ cart.totalPrice | currency: 'INR' }}</th>
      </tr>
    </tfoot>
  </table>
</ng-container>
